/* html {
    scroll-padding-top: 10rem;
    /* Adjust to your navbar height 
    overflow: auto;
}*/

/* body {
    scroll-margin-top: 6rem;
    /* Adjust to your navbar height 
    overflow: auto;

} */

/* .introSection,
.aboutSection,
.worksSection,
.contactSection {
    scroll-margin-top: 6rem;
    /* Adjust to your navbar height */